input {
  border: none;
  outline: none;
  padding: 10px 7px;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  background: none;
  border: 1px solid #000;
  color: #ffd700;
  cursor: pointer;
  padding: 10px;
  transition: all 10ms;
}

button:hover {
  background-color: #000;
  color: #fff;
}

form div {
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ni-wrapper {
  display: flex;
  gap: 10px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-container {
    margin: 60px auto;
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .contact-container {
    margin: auto;
    width: 60%;
  }
}
