a {
  color: #d3d3d3;
  text-decoration: none;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.grid-wrapper > div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid-wrapper > div > img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: dense;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-wrapper .portrait {
  grid-row: span 2;
}

.grid-wrapper .landscape {
  grid-column: span 2;
}

.grid-wrapper .feature {
  grid-column: span 2;
  grid-row: span 3;
}

.gallery-nav {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.gallery-nav a {
  color: #d3d3d3;
  text-decoration: none;
}
