* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #2e2e2e;
  color: #d3d3d3;
  font-family: Montserrat;
  height: 100vh;
  width: 100%;
}

header {
  align-content: center;
  background: #333333;
  height: 90px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  padding-bottom: 40px;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}

section {
  padding-bottom: 50px;
}

section,
footer {
  padding-inline: 20px;
}

footer {
  align-items: center;
  background: #4a4a4a;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 40px;
  justify-content: center;
  padding-block: 20px;
}

b {
  color: #000000;
  font-weight: 400;
}

.body-wrapper {
  height: 100%;
  width: 100%;
}

.logo-container {
  height: 60px;
  width: 60px;
}

.logo-container img {
  height: 100%;
  width: 100%;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texts-head {
  font-size: 26px;
  line-height: 30px;
  width: 100%;
}

.job-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 30px;
}

.contact-link {
  border: 1px solid #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  width: fit-content;
}

.section2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section3 {
  background: #fff;
  color: #000;
  font-size: 18px;
  padding-block: 50px;
}

.quote {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 30px;
}

.section4 {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.section4 a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  padding: 20px 40px;
}

.section4 a:hover {
  background: #00000054;
  color: #fff;
}

.gallery-btn-wrapper,
.book-btn-wrapper {
  align-items: center;
  background-image: url(assets/nigeria/6B6A7967.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 250px;
  justify-content: center;
}

.aboutme {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 20px;
  line-height: 30px;
}

.aboutme-container {
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 100px;
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0;
}

.aboutme-container p {
  margin: auto;
  width: 80%;
}

.aboutme img {
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  width: 150px;
}

.aboutlink {
  background: none;
  border: 1px solid #000;
  padding: 5px 20px;
}

.aboutlink a {
  color: #2e2e2e;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.aboutlink:hover {
  background-color: #000;
  color: #fff;
}

.mail-img {
  height: 15px;
  width: 15px;
}

.flink {
  align-items: center;
  display: flex;
  gap: 20px;
}

.navlinks {
  align-items: center;
  display: none;
  justify-content: space-between;
  width: 35%;
}

.navlink {
  position: relative;
}

.navlink a {
  color: #d3d3d3;
  font-size: 12px;
  position: relative;
  text-decoration: none;
}

.navlink::before {
  background: #ffd700;
  bottom: -5px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left, right;
  transition: transform 300ms ease-in;
  width: 100%;
}

.navlink:hover::before {
  transform: scaleX(1);
}

.navlink {
  color: #d3d3d3;
  cursor: pointer;
  font-size: 12px;
}

.nav-cl {
  border: 1px solid #fff;
  padding: 20px;
}

.nav-cl a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.carousel {
  background: red;
  position: relative;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel img {
  height: 100%;
  object-fit: contain;
  object-position: top;
  width: 100%;
  display: block;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.carousel:hover button.prev,
.carousel:hover button.next {
  display: block;
}

.sidebar {
  align-items: center;
  background: #fff;
  display: none;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.sidebar ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 10px;
  padding-inline: 20px;
  text-align: center;
  transition: all 300ms;
  width: 100%;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  color: #2e2e2e;
  width: 100%;
}

.menubtn {
  position: relative;
}

.port-dd {
  align-items: center;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.port-link-dd {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.portdd-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.port-dd img {
  background-color: #d3d3d377;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.close-btn {
  padding: 20px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
}

.menu-links {
  align-items: center;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
}

.menu-contact {
  border: 1px solid #ffd700;
  padding: 20px;
}

.menu-contact a {
  color: #2e2e2e;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .navlinks {
    display: flex;
  }

  .carousel {
    height: 700px;
  }

  .carousel img {
    object-fit: cover;
    object-position: top;
  }

  .menubtn {
    display: none;
  }

  nav {
    padding-inline: 50px;
  }

  .texts {
    align-items: center;
    flex-direction: row;
    gap: 10%;
    padding-inline: 50px;
    width: 100%;
  }

  .gallery-btn-wrapper,
  .book-btn-wrapper {
    border-radius: 0 50px 0 50px;
    height: 80%;
    margin: auto;
    width: 50%;
  }

  .section4 {
    flex-direction: row;
    gap: 5px;
    width: 100%;
  }

  .sf-d {
    align-content: center;
    background: #fff;
    height: 500px;
    width: 100%;
  }

  .footerdesc {
    align-items: center;
    display: flex;
    gap: 20px;
  }

  .location,
  .flink {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: fit-content; */
  }

  .mail-img {
    height: 20px;
    width: 20px;
  }

  .IG {
    display: none;
  }

  .portfolio {
    position: relative;
  }

  .aboutme {
    flex-direction: row;
    gap: 20px;
    margin: auto;
    padding-inline: 90px;
  }

  .aboutme img {
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 300px;
  }

  .aboutme-container {
    width: 500px;
  }

  .p-dropdown {
    background: #ffffff3b;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    position: absolute;
    top: 25px;
  }

  .p-dropdown a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}
